.container{
}
.sc-visual{
}
.sc-visual .group-inner{
    height: 1025px;
    padding-top: 136px;
    position: relative;
}
.sc-visual .text-box{
   text-align: center;
   top: 30px;
}

.sc-visual .text-box p{
    margin-bottom: 40px;
    margin-top: 64px;
    font-size: 20px;
    font-weight: 600;
}
.sc-visual .text-box strong{
    font-size: 56px;
    font-weight: bold;
    line-height: 1.34;
    margin-bottom: 40px;
    display: block;
}
.sc-visual .text-box button{
    display: block;
    margin: 0 auto;
    
    height: 48px;
    padding: 12px 30px;
    border-radius: 24px;
    background-color: #2323a5;
    border: 1px solid transparent;
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    z-index: 5;
    opacity: 0;
    transition: 0.3s ease;
}
.sc-visual .text-box button:hover{
    background-color: #fff;
    border: 1px solid #2323a5;
    color: #2323a5;
}
.sc-visual .groupo-image{}
.sc-visual .group-image .img-box{
    display: flex;
    justify-content: center;
    overflow: hidden;
    position: absolute;
    width: 100%;
    height: fit-content;
    bottom: 0;
    align-items: flex-end;
}
.sc-visual .img-box img{
    object-fit: cover;
    height: 517px;

}
.sc-visual .img-box img:nth-child(1){
    top: 0;
    left: 200px;
}
.sc-visual .img-box img:nth-child(2){
    top: 0;
    left: 150px;
}
.sc-visual .img-box img:nth-child(3){
    z-index: 10;
    height: 485px;
}
.sc-visual .img-box img:nth-child(4){
    right: 150px;
    top: 0;
}
.sc-visual .img-box img:nth-child(5){
    right: 150px;
    top: 0;
}

.container .inner{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.sc-intro{
    padding-top: 230px;
    width: var(--main-width);
}
.sc-intro h2{
    display: block;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: -0.3px;
    text-align: left;
    color: #9f9f9f;
    margin-bottom: 40px;
}
.sc-intro strong{
    display: block;
    font-size: 46px;
    font-weight: bold;
    line-height: 1.43;
    letter-spacing: -0.69px;
    text-align: left;
    color: #171717;
    margin-bottom: 104px;
}
.sc-intro .text-box{
    position: relative;
    
}
.sc-intro .text-box .box{
    width: 550px;
}
.sc-intro .text-box + .text-box{
    margin-top: 85px;
}

.sc-intro .text-box h3{
    font-size: 20px;
    font-weight: bold;
    letter-spacing: -0.3px;
    text-align: left;
    color: #2323a5;
    margin-bottom: 25px;
    
}
.sc-intro .text-box .mt25{
    margin: 80px 0 25px;
}
.sc-intro .text-box span{
    font-size: 20px;
    font-weight: 500;
    line-height: 1.75;
    letter-spacing: -0.3px;
    text-align: left;
}
.sc-intro .text-box .desc{
    display: block;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: -0.21px;
    text-align: left;
    margin-top: 17px;
    color: #9f9f9f;
}
.sc-intro .text-box .desc-box{

    display: flex;
    justify-content: space-between;
}
.sc-intro .text-box button{
    position: absolute;
    bottom: 0;right: 0;
    height: 40px;
    padding: 11px 20px;
    border-radius: 20px;
    border: solid 1px #242424;
    color: #242424;
    background: #fff;
    font-size: 15px;
    font-weight: 600;
    margin-left: auto;
}
.sc-intro .text-box button:hover{
    border: solid 1px transparent;
    color: #fff;
    background: #2323a5;

}
/* .sc-intro .group-search{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
    width: 602px;
    height: 70px;
    padding: 0 75px;
    border-radius: 35px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    background-color: #fff;
    position: relative;
    margin-bottom: 23px;
}
.sc-intro .group-search .search-bd{
    
    width: 100%;
    padding: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #525252;
}
.sc-intro .group-search .search-bd button{
} */

.sc-intro{}
.sc-intro .group-motion{
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
    width: 602px;
    height: 70px;
    padding: 0 75px;
    border-radius: 35px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    background-color: #fff;
    position: relative;
    margin-bottom: 23px;
    position: relative;
}
.sc-intro .group-motion .line-bd{
    display: flex;
    width: 100%;
    padding: 10px 0;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #525252;
}
.sc-intro .group-motion .search{
    position: absolute;top: 12px;right: 33px;
}


.sc-intro .group-motion span{
    font-size: 25px;
    font-weight: 500;
    letter-spacing: -0.38px;
    text-align: center;
    display: inline-block;
    color: #242424;
    overflow: hidden;
    border-right: 2px solid #242424;
    white-space: nowrap;
    line-height: 1;
}
.sc-intro .group-motion span{display: flex;}
.sc-intro .group-motion span i{ min-width: 10px; display: none; } /* 자간조정 */
.sc-intro .group-motion .se{} 

.sc-intro .tag-wrap{
    display: flex;;
    flex-wrap: wrap;
    position: relative;
    gap: 10px;
    justify-content: center;
}
.sc-intro .tag-wrap::after{
    
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 444px;
    background-image: linear-gradient( to bottom, rgba(255, 255, 255, 0), #fff 63%, #fff );
    transition: 0.55s ease;
    z-index: 11;
    content: '';
}
.sc-intro .tag-wrap .tak{
    display: flex;flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.sc-intro .tag-wrap .tak:nth-child(n+5){
    margin-top: 60px;
}

.sc-intro .tag-wrap .tak .tag{
    width: fit-content;
    max-width: 100%;
    padding: 8px 37px 8px 20px;
    border-radius: 16px;
    background-color: #242424;
    font-size: 14px;
    color: #fff;
    display: flex;
    align-items: center;
    position: relative;
    text-align: center;
}
.sc-intro .tag-wrap .tak button{
    position: absolute;
    top: 50%;right: 20px;
    transform: translateY(-50%);
}
.sc-intro .tag-wrap .tak .abs{
    position: absolute;
    top: 54%;left: 50%;
    transform: translateX(-50%);
    z-index: 20;
}
.sc-intro .tag-wrap .tak .prd{
    margin: 10px 0 0 0;
    ;height: 200px;
    width: 299px
    
}



/* 따로임 */
/* 
.prd{display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
}
.prd .tag{
    width: fit-content;
    max-width: 100%;
    padding: 8px 37px 8px 20px;
    border-radius: 16px;
    background-color: #242424;
    font-size: 14px;
    color: #fff;
    display: flex;
    align-items: center;
    position: relative;
    text-align: center;

}
.prd img{width: 100px;
    height: 100px;
}
 */





.sc-banner1{
    margin-top: 50px;
    width: 100%;
    height: 382px;
    background-image: url(../img/banner1.jpg);
    background-size: cover;
    background-position: center;
}


.sc-info{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #f0f0f0;
    overflow: hidden;
    position: relative;
}
.sc-info .info-box{
    width: var(--main-width);
    display: flex;
    flex-direction: column;
    margin-top: 150px;
}
.sc-info .info-box2{
    width: 1228px;
    display: flex;
    flex-direction: column;
    margin-top: 164px;
    margin-right: 0;
    z-index: 10;
}

.sc-info .info-box strong{
    font-size: 46px;
    font-weight: bold;
    line-height: 1.43;
    letter-spacing: -0.69px;
    text-align: left;
    margin-bottom: 40px;
}


.sc-info .info-box2 strong{
    font-size: 46px;
    font-weight: bold;
    line-height: 1.43;
    letter-spacing: -0.69px;
    text-align: right;
    margin-bottom: 40px;
}
.sc-info .info-box .mark,
.sc-info .info-box2 .mark{border-bottom: 1px solid #242424;}
.sc-info .info-box .desc{
    display: block;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.75;
    letter-spacing: -0.3px;
   margin-bottom: 160px;
   
    
}
.sc-info .info-box2 .desc{
    display: block;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.75;
    letter-spacing: -0.3px;
    text-align: right;
    margin-bottom: 160px;
    z-index: 1;
    position: relative;
    /* right: 30px; */
    transition: 0.5s ease;
    transition-delay: 0.6s;
    margin-top: 40px;
}
.sc-info .img-box .visible1{
    position: absolute;
    top: 0;right: 0;
    opacity: 0.45;
    z-index: 1;
}
.sc-info .img-box .visible2{
    position: absolute;
    bottom: 0;left: 0;
    opacity: 0.45;
}

.sc-info .img-wrap{
    max-width: 1228px;
    display: flex;
    flex-wrap: wrap;
}
.sc-info .img-wrap .line{
    display: flex;
    gap: 45px;
}
.sc-info .img-wrap .line2{
    margin-top: 60px;
    margin-left: 245px;
}



.sc-info .info-wrap{
   width: 469px;
}
.sc-info .info-wrap img{}
.sc-info .info-wrap .tag-box{
    display: flex;
    gap: 8px;
    justify-content: flex-end;
    margin-top: 16px;
}

.sc-info .info-wrap .tag{
    position: relative;
    background-color: #242424;
    color: #fff;
    border-radius: 16px;
    padding: 8px 37px 8px 20px;
    font-size: 14px;
}
.sc-info .info-wrap .tag-box button{
    position: absolute;
    top: 50%;right: 20px;
    transform: translateY(-50%);
}

.sc-slide1{}
.sc-slide1 .inner{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 150px 0;
}
.sc-slide1 .inner .content-wrap{
    width: var(--main-width);
    display: flex;
    justify-content: space-between;
    height: 700px;
}
.sc-slide1 .group-left{
    position: relative;
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}
.sc-slide1 .flex-area{display: flex;gap: 30px;}
.sc-slide1 .flex-area button{
    font-size: 20px;
    font-weight: 600;
    line-height: 0.75;
    letter-spacing: -0.3px;
    text-align: left;
    padding: 6px 0;
    color: #9f9f9f;
}
.sc-slide1 .flex-area button.active{
    color: #2323a5;
    border-bottom: 1px solid #2323a5;
}

.sc-slide1 .text-box{
    display: none;
}
.sc-slide1 .text-box.on{
    display: block;
}
.sc-slide1 .text-box strong{
    display: block;
    margin-top: 60px;
    margin-bottom: 30px;
    font-size: 36px;
    font-weight: bold;
    letter-spacing: -0.54px;
}
.sc-slide1 .text-box .desc{
    display: block;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.69;
    letter-spacing: -0.24px;
    text-align: left;
    margin-bottom: auto;
}
.sc-slide1 .text-box .desc em{
    font-weight: bold;
}

.sc-slide1 .group-left .btn-view{
    height: 40px;
    padding: 11px 20px;
    border-radius: 20px;
    border: solid 1px #242424;
    color: #242424;
    background: #fff;
    font-size: 15px;
    font-weight: 600;
    margin-top: auto;


}
.sc-slide1 .group-left .btn-view:hover{
    border: solid 1px transparent;
    color: #fff;
    background: #2323a5;
}

.sc-slide1 .swiper-wrapper{
    height: 610px;
    padding: 5px;
}

.sc-slide1 .swiper-wrapper .swiper-slide{
    /* border: 1px solid #000; */
    /* padding: 10px; */
}

.sc-slide1 .swiper-wrapper .btn{
    width: 100px;height: 100px;
    left: 0;bottom: 0;
    background: #f0f;
}
.sc-slide1 .swiper-wrapper .btn.prev{
    
}
.sc-slide1 .swiper-wrapper .btn.next{}

.sc-slide1 .group-right{
    width: 55%;
    
}
.sc-slide1 .group-right .swiper{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}
.sc-slide1 .group-right .control{
    display: flex;
    justify-content: flex-end;
    gap: 20px;
}
.sc-slide1 .group-right .control .btn{
    width: 46px;height: 46px;
}
.sc-slide1 .group-right .control .btn.next{
    transform: rotate(180deg);
}

.sc-slide1 .group-right .motion1{}
.sc-slide1 .group-right .motion2{
    position: absolute;
    top: 0;right: 11px;
    height: 610px;
    width: 571px;
    padding: 10px;
    max-height: 100%;
    overflow: hidden;
    animation: fadein 0.5s ease-in-out forwards;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
}
.sc-slide1 .group-right .motion2-head{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 20px;
    border-bottom: 1px solid rgba(36, 36, 36, 0.1);
    font-size: 16px;
    font-weight: bold;
    letter-spacing: -0.24px;
    text-align: left;
    background: #fff;
    position: absolute;
    top: 0;
    z-index: 10;

}
.sc-slide1 .group-right .motion2-body{
    overflow: hidden;
   
}
.sc-slide1 .group-right .slide1-motion .motion2-body{
    transform: translateY(40%);
    transition:1s;
    
}
.sc-slide1 .group-right .slide1-motion.on .motion2-body{
    transform: translateY(-10%);
}
/* .sc-slide1 .group-right .motion2-scroll{
    overflow: hidden;
    animation: scrollingY 0.7s 1s ease forwards;
}
@keyframes scrollingY {
    100%{
        transform: translateY(-22%);
    }
} */

.sc-slide1 .group-right .img-box{
    width: 570px;
    padding: 20px;
    border-bottom: 1px solid rgba(36, 36, 36, 0.1);
}
.sc-slide1 .group-right .img-box .targer1{
    
}

.sc-slide1 .group-right .scrollx-area{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: fit-content;
    padding: 40px 0 40px 23px;
    width: 1125px;
}
.sc-slide1 .scrollx-area span{
    text-align: left;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: -0.24px;
    margin-bottom: 22px;
}

.sc-slide1 .group-right .img-box2{
    height: 135px;
}

.sc-slide1 .group-right .slide1-motion .img-box2 .target2{
    transform: translateX(0%);
    transition: 1s;
    transition-delay: 1s;
  
}
.sc-slide1 .group-right .slide1-motion.on .img-box2 .target2{
    transform: translateX(-40%);
  
}
/* .sc-slide1 .group-right .img-box2 .target2{
    animation: scrollingX 1s 1.8s ease forwards;
}
@keyframes scrollingX {
    100%{
        transform: translate(-52%);
    }
} */



/*  두번째 슬라이드에 첫번째이미지  */
.sc-slide1 .slide2-motion{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: relative;
    
    width: 677px;
    text-align: center;
    font-size: 18px;
}
.sc-slide1 .slide2-motion img{
    display: block; object-fit: cover;
}
.sc-slide1 .slide2-motion .motion2-1{
    height: 592px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

}
.sc-slide1 .slide2-motion .motion2-2{
    height: 592px;
    position: absolute;
    right: 0;
    opacity: 0;
}
.sc-slide1 .slide2-motion .motion2-3{
    height: 592px;
    position: absolute;
    right: 0;
    opacity: 0;
}
.sc-slide1 .slide2-motion .motion2-4{
    height: 592px;
    position: absolute;
    right: 0;
    opacity: 0;
}
.sc-slide1 .slide2-motion .motion2-5{
    height: 592px;
    position: absolute;
    right: 0;
    opacity: 0;
}
.sc-slide1 .slide2-motion .motion2-6{
    height: 592px;
    position: absolute;
    right: 0;
    opacity: 0;
}

/*  */
.sc-slide1 .slide2-motion.on .motion2-1{
    left: 0;
    width: 292px;
    height: 516px;
    opacity: 0.4;
    transition: 0.5s ease;
    transition-delay: 1s;
}
.sc-slide1 .slide2-motion.on .motion2-2{
    opacity: 1;
    right: 50%;
    transition: 0.5s ease;
    transition-delay: 1s;
    z-index: 10;
    right: 50%;
    transform: translate(50%, 0);
    animation: opacity0 0.5s 2s ease forwards;
}
.sc-slide1 .slide2-motion.on .motion2-3{
    opacity: 1;
    transition: 0.4s ease;
    transition-delay: 2s;
    z-index: 10;
    right: 50%;
    transform: translate(50%, 0);
    animation: opacity0 0.5s 4s ease forwards;

}
.sc-slide1 .slide2-motion.on .motion2-4{
    opacity: 1;
    transition: 0.4s ease;
    transition-delay: 3s;
    z-index: 10;
    right: 50%;
    transform: translate(50%, 0);
    animation: opacity0 0.5s 5s ease forwards;
}
.sc-slide1 .slide2-motion.on .motion2-5{
    opacity: 1;
    transition: 0.4s ease;
    transition-delay: 4s;
    z-index: 10;
    right: 50%;
    transform: translate(50%, 0);
    animation: opacity0 0.5s 6s ease forwards;
}
.sc-slide1 .slide2-motion.on .motion2-6{
    opacity: 1;
    transition: 0.4s ease;
    transition-delay: 5s;
    z-index: 10;
    right: 50%;
    transform: translate(50%, 0);
    
}
/* 
@keyframes opacity0{
    100%{
        opacity: 0;
    }
} */


.sc-slide1 li:nth-child(2) .tag-wrap{
    /* display: block;
    position: absolute;
    top: 14px;
    right: 65px;
    transition: 0.4s ease;
    transition-delay: 3s; */
    position: relative;
}
.sc-slide1 li:nth-child(2) .tag-wrap .before{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    width: 84px;
    height: 38px;
    border-radius: 19px;
    background-color: #363636;
    font-size: 14px;
    font-weight: 500;
    line-height: normal;
    letter-spacing: normal;
    position: absolute;
    top: 6px;
    right: 67px;
    opacity: 0;
    transition: 0.3s;
}
.sc-slide1 .slide2-motion.on .tag-wrap .before{
    opacity: 1;
    transition-delay: 1.5s;

}
.sc-slide1 .slide2-motion.on .tag-wrap .after{
    opacity: 1;
    transition-delay: 4s;
}
.sc-slide1 li:nth-child(2) .tag-wrap .after{
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 84px;
    height: 38px;
    border-radius: 19px;
    background-color: #204bbf;
    font-size: 14px;
    color: #fff;
    /* transition: 0.5s ease; */
    /* z-index: 1; */
    position: absolute;
    top: 6px;right: 67px;
}


.sc-slide1 li:nth-child(2) .span-wrap{
    opacity: 1;
    display: flex;
    flex-direction: column;
    
    position: absolute;
    top: 70px;
    right: 0;
    text-align: left;
    transition: 0.4s ease;
    transition-delay: 3s;    
}
.sc-slide1 li:nth-child(2) .span-wrap span{
    font-size: 20px;}
.sc-slide1 li:nth-child(2) .span-wrap strong{
    padding-right: 30px;
}

.sc-slide1 .slide2-motion.on .span-before{
    opacity: 1;
    transition-delay: 1.5s;
}
.sc-slide1 .span-wrap .span{
}
.sc-slide1 .span-wrap .span-before{
    position: relative;
    transition: 0.3s;
    font-weight: 500;
    position: absolute;
    top: 0;
    opacity: 0;
    line-height: 1.55;

}
.sc-slide1 .span-wrap .span-before strong{
    /* text-align: left;
    position: absolute;
    top: 0;right: 109px; */
    
}
.sc-slide1 .span-wrap em{
    font-weight: bold;
}

.sc-slide1 .slide2-motion.on .span-after{
    opacity: 1;
    transition-delay: 4s;
    background: #fff;
}
.sc-slide1 .span-wrap .span-after{
    transition: 0.3s;
    opacity: 0;
    position: relative;
    margin-bottom: 40px;
    line-height: 1.55;

    
}
.sc-slide1 .span-wrap .span-after strong{
    
}


.slide2-motion.on .keyword-wrap{
    opacity: 1;
    transition-delay: 5s;
}
.sc-slide1 .keyword-wrap{
    display: flex;
    flex-direction: column;
    align-items: start;
    position: absolute;
    bottom: 0;right: 40px;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: -0.21px;
    color: #171717;
    margin-bottom: 20px;
    opacity: 0;
    transition:0.3s
}
.sc-slide1 .keyword-wrap span{margin-bottom: 20px;}
.sc-slide1 .keyword-wrap .key{
    display: inline;
    height: 38px;
    border-radius: 19px;
    background: #204bbf;
    font-size: 14px;
    font-weight: 500;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 16px;
    padding: 11px 16px;
}




    /* 슬라이드2 */

.sc-slide2{
    width: 100%;
    background: #f8f8f8;
    
}
.sc-slide2 .inner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    padding: 80px 0;
    background: #f8f8f8;
}
.sc-slide2 .inner .recomm-slide{
    width: 1228px;
    overflow: initial;
}
.sc-slide2 .recomm-slide .swiper-wrapper{}
.sc-slide2 .recomm-slide .swiper-slide{
    height: auto;
    padding: 40px;
    border-radius: 12px;
    background-color:#fff;
    box-shadow: 0 3px 15px 0 rgba(0, 0, 0, 0.07);
}
.sc-slide2 .recomm-slide .left-box{
    display: flex;
    flex-direction: column;
}
.sc-slide2 .box-top{
    margin-bottom: 30px;
}
.sc-slide2 h3{
    white-space: nowrap;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: -0.3px;
    text-align: left;
    color: #9f9f9f;

    display: flex;
    height: 46px;
    align-items: flex-start;
    margin-bottom: 30px;

}
.sc-slide2 .slide-top{display: flex;justify-content: space-between;}
.sc-slide2 .left-box strong{
    font-size: 36px;
    font-weight: bold;
    line-height: 1.56;
    letter-spacing: -0.54px;
    text-align: left;
    margin-bottom: 20px
}
.sc-slide2 .left-box span{
    font-weight: 500;
    letter-spacing: -0.24px;
    text-align: left;
    color: #9f9f9f;
}


.sc-slide2 .recomm-slide .right-box{
    font-weight: bold;
    letter-spacing: -0.24px;
    text-align: right;
    color: #c9c9c9;
    white-space: nowrap;
}
.sc-slide2 .recomm-slide .kind{
    margin-bottom: 10px;
}
.sc-slide2 .recomm-slide .info{
    font-size: 16px;
    font-weight: 600;
    letter-spacing: -0.24px;
    text-align: right;
    color: #9f9f9f;
    white-space: nowrap;
}
.sc-slide2 .recomm-slide .mb{margin-bottom: 20px;}
.sc-slide2 .recomm-slide .right-box.active{}
.sc-slide2 .recomm-slide .right-box span{
    display: block;
}


.sc-slide2 .group-case{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    margin-top: 80px;
    /* height: 650px; */
    height: 650px;
} 
.sc-slide2 .group-case .mb50{
    margin-bottom: 50px;
    display: block;
    text-align: center;
}
.sc-slide2 .group-case .circle-area{
    display: flex;
    gap: 40px;
} 
.sc-slide2 .circle-area .circle{
    position: relative;
    width: 228px;
    height: 228px;
    color: #f000f0;
    border-radius: 50%;
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content:center;
    
    
}
.sc-slide2 .circle-area .circle.black{
    position: relative;
    color: #646464;
    background: #242424;
    
}
.sc-slide2 .circle-area .circle.yellow{
    position: relative;
    background-color: #ffc400;
    color: #fff;
}
.sc-slide2 .circle-area .circle-info{
    position: absolute;
    bottom: -150px;
    left: 50%;
    transform: translate(-50%, 0);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: -0.3px;
    text-align: center;
    color: #242424;
    white-space: nowrap;
    margin-bottom: 30px;
    
    
}
.sc-slide2 .circle-info em{
    font-size: 40px;
    font-weight: bold;
}
/* .sc-slide2 .circle-info .blue{}

.sc-slide2 .group-case .case-box1{} 
.sc-slide2 .group-case .case-box1 span{} 
.sc-slide2 .group-case .case-box1 .circle-info{} 
.sc-slide2 .group-case .case-box1 .circle-info span{} 
.sc-slide2 .group-case .case-box1 .circle-info .blue{} 
 */

 .sc-slide2 .group-case .case-box3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 50px;


 }

 .sc-slide2 .case-box3 .box3-line{
    align-items: center;
    display: flex;
    gap: 80px;
 }
 .sc-slide2 .case-box3 .box3-line span{}
 .sc-slide2 .case-box3 .box3-line .vs{
     width: 86px;
     height: 86px;
     border-radius: 50%;
     background-color: #242424;
     font-size: 24px;
     font-weight: bold;
     letter-spacing: -0.36px;
     text-align: right;
     color: #fff;
     display: flex;
     justify-content: center;
     align-items: center;
     
    }
.sc-slide2 .box3-value{
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
}
.sc-slide2 .box3-value .value-line{
    display: flex;
    gap: 80px;
    text-align: center;
    justify-content: space-evenly;
    align-items: center;
}
.sc-slide2 .box3-value .value-line span{font-weight: bold;;font-size: 42px;}
.sc-slide2 .box3-value .value-line .blue{color: #2323a5;}

.sc-slide2 .btn-box{
    display: flex;
    gap: 10px;
    z-index: 10;
    position: absolute;
    top: 40px;right: 40px;
}
.sc-slide2 .btn.prev{
    width: 46px;height: 46px;
    background-image: url(../img/nav-arrow-prev.svg);
    
}
.sc-slide2 .btn.next{
    width: 46px;height: 46px;
    background-image: url(../img/nav-arrow-prev.svg);
    transform: rotate(180deg);

}
.sc-slide2 .btn.next .swiper-button-disabled{
    opacity: 0.5;
}







 .sc-slide2 .case-box3 .box3-value{}
 .sc-slide2 .case-box3 .box3-btn{
    width: 100%;
    font-size: 36px;
    font-weight: bold;
    letter-spacing: -0.54px;
    text-align: center;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
    width: 100%;
    height: 125px;
    border-radius: 62.5px;
    background-color: #2323a5;
 }

.sc-slide2 .case2-area{
    width: 100%;
    /* height: 598px; */
    display: flex;
    align-items: flex-end;
    min-height: 480px;
    margin-top: 100px;
}

.sc-slide2 .case2-area .top{
    display: flex;
    position: relative;
    gap: 20px;
    /* padding-left: 200px; */
    
    padding-left: 130px;
    
    
}
.sc-slide2 .graph2-box .case2-area .top{
   1245
}

.sc-slide2 .case2-area .graph-conts{
    width: 200px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: 20px;
}
.sc-slide2 .case2-area .graph2-box .graph-conts div{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 20px;
    transition: 1.5s cubic-bezier(0.61, 0.12, 0.42, 0.88);
    width: 100px;
    height: 88px;
    border-radius: 50px 50px 0 0;
    background-color: #6565b7;
    z-index: 2;
}
.sc-slide2 .case2-area .graph1-box .graph-conts div{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 20px;
    transition: 1.5s cubic-bezier(0.61, 0.12, 0.42, 0.88);
}
.sc-slide2 .case2-area .graph-conts div span{
    font-size: 11px;
    font-weight: 500;
    letter-spacing: -0.17px;
    text-align: center;
    color: #fff;
    height: 29px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s ease;
}
.sc-slide2 .case2-area .graph2-box .graph-conts div span{
    opacity: 0;
    animation: opacity100 1s 8s ease forwards;
    /* 0.6s수정 */
    /* display: flex; */
    
}
.sc-slide2 .case2-area .graph2-box .graph-conts{
}
.sc-slide2 .graph1-box{
    width: 40%;
}

.sc-slide2 .case2-area .graph1-box .graph-conts{
    /* display: flex;
    gap: 40x;
    align-items: flex-end;
    
    width: 155px;
    transition: 1s ease;
    transition-delay: 1s; */
    
}
.sc-slide2 .case2-area .graph1-box .const1{
    margin-left: auto;
    margin-right: 80px;
    transition: 1s ease;
    transition-delay: 1s;
}
.sc-slide2 .case2-area .graph-info{
    position: absolute;
    left: 0;
    bottom: 20px;
    font-size: 26px;
    font-weight: bold;
    letter-spacing: -0.39px;
    text-align: left;
    color: #242424;
    opacity: 0;
}
.sc-slide2 .slide2-motion.on .case2-area .info1{
    opacity: 1;
    transition-delay: 2s;
}
.sc-slide2 .slide2-motion.on .case2-area .info1{
    /* opacity: 0; */
    transition: 0.3s ease;
    transition-delay: 3s;
    animation: opacity0 0.3s 6s ease forwards;
}
.sc-slide2 .case2-area .graph-info strong{
    color: #2323a5;
     margin-top: 6px;
}
.sc-slide2 .slide1-motion .case2-area .conts1{
    height: 280px;
    transition: 0.3s;
    position: absolute;
}
.sc-slide2 .case2-area .graph1-box .conts1 div:first-child{
    width: 100px;
    height: 88px;
    border-radius: 50px 50px 0 0;
    background-color: #6565b7;
    z-index: 2;
    
}
.sc-slide2 .case2-area .graph2-box .conts1 div:nth-child(2),
.sc-slide2 .case2-area .graph2-box .conts2 div:first-child,
.sc-slide2 .case2-area .graph2-box .conts1 div:first-child,
.sc-slide2 .case2-area .graph2-box .conts2 div:nth-child(2){
    height: 41px;
}
/* 2번째 막대 증가 */
@keyframes height173px {
    0%{
        height: 41px;
    }
    100% {
        height: 173px;
    }
  }
@keyframes height262px {
    0%{
        height: 41px;
    }
    100% {
        height: 262px;
    }
  }
@keyframes height303px {
    0%{
        height: 41px;
    }
    100% {
        height: 303px;
    }
  }
@keyframes height376px {
    0%{
        height: 41px;
    }
    100% {
        height: 376px;
    }
  }
  
  .sc-slide2 .slide2-motion.on .case2-area .graph2-box .conts2 div:first-child{
      position: relative;
      z-index: 2;
      animation: height262px 1s 4.5s ease forwards;
      /* 0.6s/5.5s수정 */
  }
.sc-slide2 .slide2-motion.on .case2-area .graph2-box .conts1 div:nth-child(2){
    position: relative;
    z-index: 2;
    animation: height173px 1s 4.5s ease forwards;
}
.sc-slide2 .slide2-motion.on .case2-area .graph2-box .conts1 div:first-child{
    position: relative;
    z-index: 3;
    animation: height303px 1s 4.5s ease forwards;
}
.sc-slide2 .slide2-motion.on .case2-area .graph2-box .conts2 div:nth-child(2){
    position: relative;
    z-index: 2;
    animation: height376px 1s 4.5s ease forwards;
}




.sc-slide2 .case2-area .conts1 div:nth-child(2){
    width: 80px;
    height: 88px;
    border-radius: 40px 40px 0 0;
    background-color: #2323a5;
}


/* 막대 수축(80px->62px) */
.sc-slide2 .slide2-motion.on .graph1-box .conts2 div:first-child,
.sc-slide2 .slide2-motion.on .graph1-box .conts1 div:nth-child(2){
    transition-delay: 3s;
    animation: width62px 0.3s 7.2s ease forwards;

    
    
}

/* on들어가고 너비조정 */
.sc-slide2 .slide2-motion.on .graph1-box{
    /* animation: width460px 2s 6s ease forwards;
    background: #0f0;
    transition: opacity 0.3s; */
}
/* 막대수축 (100px->77px) */
.sc-slide2 .slide2-motion.on .graph1-box .conts2 div:nth-child(2),
.sc-slide2 .slide2-motion.on .graph1-box .conts1 div:first-child{
    /* animation: width62px 0.3s 7.2s ease forwards; */
    animation: width77px 2s 6s ease forwards;

}

/* 막대 수축(100px) */
.sc-slide2 .case2-area .conts1 div:first-child,
.sc-slide2 .case2-area .conts2 div:nth-child(2){

}
.sc-slide2 .case2-area .conts2 div:first-child{
    width: 80px;
    height: 88px;
    border-radius: 40px 40px 0 0;
    background-color: #f5dd8c;
}
.sc-slide2 .case2-area .conts2 div:nth-child(2){
    width: 100px;
    height: 88px;
    border-radius: 50px 50px 0 0;
    background-color: #ffbf00;
}



/* 그래프1 가격 */
.sc-slide2 .graph1-box .conts1 div:first-child::after{
    content: "4,925,140원";
    top: -40px;
    transform: translate(-50%, 0);
    font-size: 18px;
    font-weight: 800;
    letter-spacing: -0.27px;
    text-align: center;
    color: #bcbcbc;
}
.sc-slide2 .graph1-box .conts1 div:nth-child(2)::after{
    content: "2,877,347원";
    top: -30px;
    transform: translate(-50%, 0);
    font-size: 14px;
    font-weight: 800;
    letter-spacing: -0.21px;
    text-align: center;
    color: #242424;
}
.sc-slide2 .graph1-box .conts2 div:first-child::after{
    content: "27,932,531원";
    top: -30px;
    transform: translate(-50%, 0);
    font-size: 14px;
    font-weight: 800;
    letter-spacing: -0.21px;
    text-align: center;
    color: #bcbcbc;
}
.sc-slide2 .graph1-box .conts2 div:nth-child(2)::after{
    content: "33,365,296원";
    top: -40px;
    transform: translate(-50%, 0);
    font-size: 18px;
    font-weight: 800;
    letter-spacing: -0.27px;
    text-align: center;
    color: #242424;
}
/* 그래프1 가격 (처음엔 가려져있어야함) */
.sc-slide2 .graph1-box .conts1 div:first-child::after,
.sc-slide2 .graph1-box .conts1 div:nth-child(2)::after,
.sc-slide2 .graph1-box .conts2 div:first-child::after,
.sc-slide2 .graph1-box .conts2 div:nth-child(2)::after{
  opacity: 0;
  white-space: nowrap;
  position: absolute;
  left: 50%;
}

/* 그래프1가격 (보이는시점) */
.sc-slide2 .slide2-motion.on  .graph1-box .conts1 div:first-child::after,
.sc-slide2 .slide2-motion.on .graph1-box .conts1 div:nth-child(2)::after,
.sc-slide2 .slide2-motion.on .graph1-box .conts2 div:first-child::after,
.sc-slide2 .slide2-motion.on .graph1-box .conts2 div:nth-child(2)::after{
    transition: 0.3s ease;
    transition-delay: 2.4s;
    opacity: 1;
    animation: opacity0 0.1s 5s ease forwards;
}
/* 그래프1 점선 */
.sc-slide2 .graph1-box .conts1 div:first-child::before,
.sc-slide2 .graph1-box .conts1 div:nth-child(2)::before,
.sc-slide2 .graph1-box .conts2 div:first-child::before,
.sc-slide2 .graph1-box .conts2 div:nth-child(2)::before{
    content: "";
    position: absolute;
    top: -1px;
    width: 200px;
    height: 1px;
    border-top: 1px dashed #302f89;
    opacity: 0;
}
/* 그래프2 점선 */
.sc-slide2 .graph2-box .conts1 div:first-child::before,
.sc-slide2 .graph2-box .conts1 div:nth-child(2)::before,
.sc-slide2 .graph2-box .conts2 div:first-child::before,
.sc-slide2 .graph2-box .conts2 div:nth-child(2)::before{
    content: "";
    position: absolute;
    top: -1px;
    width: 200px;
    height: 1px;
    border-top: 1px dashed #302f89;
    opacity: 0;
}
.sc-slide2 .graph2-box .conts1 div:nth-child(2)::before,
.sc-slide2 .graph2-box .conts2 div:nth-child(2)::before{
    right: 0;
} 
 /* 그래프2 점선 (보이는시점) */
  .sc-slide2 .slide2-motion.on .graph2-box .conts1 div:first-child::before,
  .sc-slide2 .slide2-motion.on .graph2-box .conts1 div:nth-child(2)::before,
  .sc-slide2 .slide2-motion.on .graph2-box .conts2 div:first-child::before,
  .sc-slide2 .slide2-motion.on .graph2-box .conts2 div:nth-child(2)::before{
      transition: 0.3s ease;
      transition-delay: 7s;
      opacity: 1;
      animation: opacity1 0.1s 7s ease forwards;
  }
  /* 로아스2.2 */
  .sc-slide2 .slide2-motion.on .case2-area .graph2-box .graph-info{
    transition: 0.3s ease;
    transition-delay: 7.3s;
    opacity: 1;
    animation: opacity1 0.1s 7.3s ease forwards;
    padding-left: 130px;
    display: block;
  }
/* 그래프1 점선 (보이는시점) */
.sc-slide2 .slide2-motion.on .graph1-box .conts1 div:first-child::before,
.sc-slide2 .slide2-motion.on .graph1-box .conts1 div:nth-child(2)::before,
.sc-slide2 .slide2-motion.on .graph1-box .conts2 div:first-child::before,
.sc-slide2 .slide2-motion.on .graph1-box .conts2 div:nth-child(2)::before{
    transition: 0.3s ease;
    transition-delay: 2s;
    opacity: 1;
    animation: opacity0 0.1s 4s ease forwards;
    /* 6s수정 */
}

/* 가격,점선 사라지게 */
@keyframes opacity0 {
    0%{
        opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
@keyframes opacity100 {
    0%{
        opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
 






.sc-slide2 .slide2-motion.on .graph1-box .conts1 div span, 
.sc-slide2 .slide2-motion.on .graph1-box .conts2 div span{
    /* animation: opacity0 0.6s 6.5s 수정ease forwards; */
    animation: opacity0 0.6s 4.9s ease forwards;
}
.sc-slide2 .graph2-box .graph-conts div span{
    opacity: 1; 
    /* 언제 오퍼시티0 풀지?? */
    transition-delay: 2s 
}
.sc-slide2 .graph1-box .conts1 div:nth-child(2)::before,
.sc-slide2 .graph1-box .conts2 div:first-child::before{
  width: 150px;
}
.sc-slide2 .graph1-box .conts1 div:first-child::before{
  left: 0;
}
.sc-slide2 .graph1-box .conts1 div:nth-child(2)::before{
  right: 0;
}
.sc-slide2 .graph1-box .conts2 div:first-child::before{
  left: 0;
}

.graph-box1 .graph-conts2 div:last-child::before {
  right: 0;
}
/* 그래프2 가격 나타날때 */
.sc-slide2 .slide2-motion.on .graph2-box .conts1 div:first-child::after{
    white-space: nowrap;
    transition: 0.3s ease;
    opacity: 1;
    transition-delay: 7.2s;
    animation: opacity1 0.1s 7.2s ease forwards;
}
.sc-slide2 .slide2-motion.on .graph2-box .conts1 div:nth-child(2)::after{
    white-space: nowrap;
    transition: 0.3s ease;
    opacity: 1;
    transition-delay: 7.2s;
    animation: opacity1 0.1s 7.2s ease forwards;
}
.sc-slide2 .slide2-motion.on .graph2-box .conts2 div:first-child::after{
    white-space: nowrap;
    transition: 0.3s ease;
    opacity: 1;
    transition-delay: 7.2s;
    animation: opacity1 0.1s 7.2s ease forwards;
}
.sc-slide2 .slide2-motion.on .graph2-box .conts2 div:nth-child(2)::after{
    white-space: nowrap;
    transition: 0.3s ease;
    opacity: 1;
    transition-delay: 7.2s;
    animation: opacity1 0.1s 7.2s ease forwards;
}
/* 그래프2 가격 */
.sc-slide2 .graph2-box .conts1 div:first-child::after{
    content: "5,868,961원";
    position: absolute;
    opacity: 0;
    top: -40px;
    font-size: 18px;
    font-weight: 800;
    letter-spacing: -0.27px;
    text-align: center;
    color: #bcbcbc;
    white-space: nowrap;
}

.sc-slide2 .graph2-box .conts1 div:nth-child(2)::after{
    content: "3,359,510원";
    position: absolute;
    opacity: 0;
    top: -30px;
    font-size: 14px;
    font-weight: 800;
    letter-spacing: -0.21px;
    text-align: center;
    color: #242424;
    white-space: nowrap;
}
.sc-slide2 .graph2-box .conts2 div:first-child::after{
    content: "11,349,477원";
    position: absolute;
    opacity: 0;
    top: -30px;
    font-size: 14px;
    font-weight: 800;
    letter-spacing: -0.21px;
    text-align: center;
    color: #bcbcbc;
    white-space: nowrap;
}
.sc-slide2 .graph2-box .conts2 div:nth-child(2)::after{
    content: "14,366,341원";
    position: absolute;
    opacity: 0;
    top: -40px;
    font-size: 18px;
    font-weight: 800;
    letter-spacing: -0.27px;
    text-align: center;
    color: #242424;
    white-space: nowrap;
}

/* 모션 */
.sc-slide2 .slide2-motion.on .graph1-box .conts1 div:first-child,
.sc-slide2 .slide2-motion.on .graph1-box .conts1 div:last-child,
.sc-slide2 .slide2-motion.on .graph1-box .conts2 div:first-child,
.sc-slide2 .slide2-motion.on .graph1-box .conts2 div:last-child{
    transition: height 1.5s cubic-bezier(0.61, 0.12, 0.42, 0.88);
    transition-delay: 0.6s;
    animation: graphReturn 2s 6s ease forwards; 
    /* transition: opacity 0.3s 7s; */
     /*7s 수정  */
}

/* 모션2 */

.sc-slide2 .slide2-motion.on .graph1-box .conts1 div:first-child{
    /* height: 132px; */
    height: 239px;
    position: relative;
  }

.sc-slide2 .slide2-motion.on .graph1-box .conts1 div:last-child{
    /* height: 100px; */
    height: 157px;
    position: relative;
}
.sc-slide2 .slide2-motion.on .graph1-box .conts2 div:first-child{
    /* height: 172px; */
    height: 303px;
    position: relative;
}
.sc-slide2 .slide2-motion.on .graph1-box .conts2 div:last-child{
    height: 408px;
    position: relative;
}


/* 키프레임 */
@keyframes graphReturn {
    100% {
      height: 41px;
    }
  }

.sc-slide2 .case2-area .graph2-box .graph-conts{
    /* display: flex;gap: 20px; */
}
.sc-slide2 .case2-area .graph2-box .conts1,
.sc-slide2 .case2-area .graph2-box .conts2{
    /* align-items: flex-end;
    display: flex;
    gap: 20px; */
}
    
.sc-slide2 .case2-area .bottom{
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    display: flex;
    padding-top: 20px;
}


.sc-slide2 .case2-area .graph1-box .bottom{
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.sc-slide2 .graph1-box .bottom span{
    width: 200px;
}
.sc-slide2 .graph1-box .bottom span:nth-child(1){
    width: 100px;
    margin-right: 40px;
}

.sc-slide2 .bottom span:not(:nth-child(1)){
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
/* 그래프2번째 */
.sc-slide2 .slide2-motion .graph2-box{
    width: 60%;
    opacity: 0.4;
    transition: 0.3s;
    animation: opacity100 0.6s 6.2s ease forwards;;
}

/* .sc-slide2 .slide2-motion.on .graph2-box{
    opacity: 1;
} */

.sc-slide2 .graph2-box .top{
    position: relative;
    display: flex;
    gap: 20px;
    /* background: #f0f; */
    padding-left: 269px;
}
.sc-slide2 .graph2-box .mark{
    bottom: 20px;
    font-size: 26px;
    font-weight: bold;
    letter-spacing: -0.39px;
    text-align: left;
    color: #242424;
}
.sc-slide2 .graph2-box .bottom{
    padding-left: 30px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    padding-top: 20px;
}
.sc-slide2 .graph2-box .bottom span:nth-child(1){
    padding-left: 100px;
}
.sc-slide2 .graph2-box .bottom span{
    padding-left: 100px;
}
.sc-slide2 .graph2-box .bottom span{
    width: 200px;
}





.sc-partner{
    overflow: hidden;
    width: 100%;
}
.sc-partner .inner{
    width: 1228px;
    margin: 0 auto;
    
}
.sc-partner .text-box{
    margin-right: auto;
    text-align: left;
}
.sc-partner .text-box .desc{
    font-size: 20px;
    font-weight: 500;
    letter-spacing: -0.3px;
    text-align: left;
    color: #9f9f9f;
    margin-bottom: 30px;
    margin-top: 150px;
    position: relative;
}
.sc-partner .text-box strong{
    font-size: 50px;
    font-weight: bold;
    letter-spacing: -0.75px;
    text-align: left;
    color: #242424;
    display: block;
    margin-bottom: 104px;
    position: relative;
}
.sc-partner .partner-wrap{ 
    margin-bottom: 142px;
}
.sc-partner .partner-wrap .marquee-list{
    display: flex;
}
.sc-partner .partner-wrap .marquee-item{
    display: flex;
    animation: left-marquee 50s linear infinite;
}

/* 왼쪽 키프레임 */
@keyframes left-marquee{
     0%{transform: translateX(0%);}
    100%{transform: translateX(-100%);}
 
}


.sc-partner .partner-wrap .group-marquee2 .marquee-list{
    display: flex;
    justify-content: flex-end;
}
.sc-partner .partner-wrap .group-marquee2 .marquee-item{
    display: flex;
    animation: right-marquee 50s linear infinite;
}
/* 오른쪽 키프레임 */
@keyframes right-marquee{
     0%{transform: translateX(0%);}
    100%{transform: translateX(100%);}
 
}




/* 리버스 */
.sc-partner .partner-wrap .marquee-item.reverse .marquee{
    /* display: flex;
    gap: 10px;
    animation: scrolling-right 15s linear infinite;
    padding-right: 124px;
     */
}
/* @keyframes scrolling-right {
    0%{transform: translateX(0%);}
        100%{transform: translateX(100%);}
} */
/* 리버스 */
/* .sc-partner .partner-wrap .marquee-list .marquee{
    display: flex;
    gap: 10px;
    animation: scrolling-left 15s linear infinite;
    padding-right: 124px;
} */
/* 
@keyframes scrolling-left {
    0% {transform: translateX(0);}
      100% {transform: translateX(-100%);}
} */





.banner2{
    width: 100%;
    height: 800px;
    background-image: url(https://recopick.com/img/main/banner2.png);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;]\
}
.banner2 strong{
    font-size: 48px;
    font-weight: bold;
    line-height: 1.56;
    letter-spacing: -0.72px;
    text-align: center;
    color: #fff;
    margin-bottom: 40px;
    opacity: 1;
    transition: 0.5s ease;
    
}
.banner2 button{
    height: 48px;
    left: 0;
    padding: 12px 30px;
    border-radius: 24px;
    color: #fff;
    border: 2px solid transparent;
    font-weight: 500;
    background-color: #2323a5;
    transition: 0.35s ease;
    transition-delay: 0;
    opacity: 1;
}
.banner2 button:hover{
    color: #2323a5;
    background-color: #fff;
    border: 1px solid #fff;
}
